
.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

.form-group{
    padding-bottom: 1rem;
}

.sectionButton{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

.sectionForm{
    padding-top: 3rem;
}

form{
    padding: 2rem;
    border-radius: 1rem;
    width: 30rem;

    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h4{
    text-transform: uppercase;
    font-weight: bolder;

    letter-spacing: 1rem;
    text-align: center;

    padding: 1rem;
}

.btn:hover{
    background-color: rgb(59, 132, 250);
    border: 1px solid rgb(59, 132, 250);
}